.section-asymetrique {
    display: grid;
    grid-template: 200px repeat(3, auto) / 1fr 600px 1fr;
    background: $white;
    h2 {
    grid-area: 1 / 1 / 2 / -1; // on le fais demarrer à la 1ere ligne de rangée, 1ere ligne de colonne jusqu'a la 2eme ligne de rangée et ça prend toutes les lignes de colonne
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color1;
    font-size: 50px;
    text-transform: uppercase;
    padding-bottom: 20px;
    }
    .bloc-1,
    .img-grid-1 {
        grid-area: 2 / 2 / 3 / 3; // 2eme ligne de rangee, 2eme ligne de colonne jusqu'a la 3eme ligne de rangée et 3 eme ligne de colonne
    }

    .bloc-right,
    .img-grid-2 {
        grid-area: 3 / 2 / 4 / 3; // debut row, debut col, fin row, fin col
    }

    .bloc-3,
    .img-grid-3 {
        grid-area: 4 / 2 / 5 / 3;
    }
    .bloc {
        background: $color1;
        color: $white;
        position: relative;
        border-radius: 2px;
        height: 750px;
        margin-bottom: 250px;
        button {
            border-radius: 9999px;
            outline: none;
            border: none;
            background:$crimson;
            border: 1px solid $color1;
            color:$white;
            padding: 20px 35px;
            font-size: 20px;
            margin: 35px auto;
            cursor: pointer;
            display: block;
        }
    }
    .img-grid {
        width: 500px;
        height: 700px;
        object-fit: cover;
        position: relative;
    }
    .img-grid-1,
    .img-grid-3 {
        top: 130px;
        left: 20px;
    }
    .bloc-left {
        left: -300px;
        .bloc-txt-left {
            width: 50%;
            height: 100%;
            h3{
                white-space: nowrap; // le texte ne bougeras pas
                font-size: 35px;
                margin: 30px 15px;
            }
            p {
                line-height: 40px;
                padding: 15px;
            }
        }
    }
    .bloc-right {
        right: -300px;
        .bloc-txt-right {
            position: absolute;
            right: 0;
            width: 50%;
            height: 100%;
            h3 {
                position: relative;
                font-size: 35px;
                margin: 30px 15px;
            }
            p {
                line-height: 40px;
                padding: 15px;
            }
            button {
                margin: 5px auto;
            }
        }
    }
    .img-grid-2 {
        top: 130px;
        left: 100px;
    }
    .ligne-gauche {
        grid-area: 1 / 2 / -1 / 3;
        border-left: 1px solid $color1;
    }
    .ligne-droite {
        grid-area: 1 / 3 / -1 / 4;
        border-left: 1px solid $color1;
    }
}