@include tablette {
   nav {
    .logo-menu {
        display: block;
    }
    .liste-nav {
        padding-top: 70px;
        flex-direction: column;
        height: auto;
        position: relative;
        display: none;
   
        .item-nav {
            height: 70px;
            justify-content: center;
        }

    }
    .liste-nav.active {
        display: block;
    }
   }
   .accueil {
        
        height: 650px;
        min-height: auto;
        background-position: right;
        .logo-kyoto {
            margin: 120px auto 0;
        }
        h1 {
            font-size: 60px;
        }
        .sous-titre {
            font-size: 23px;
        }
        .btn-accueil {
            width: 150px;
            height: 50px;
            line-height: 50px;
            font-size: 18px;
            margin: 15px auto 0;
        }
    
   }
   .section-asymetrique {
        grid-template: 150px repeat(6, auto) 100px / 100%;
        h2 {
            font-size: 30px;
        }
        .ligne-gauche, .ligne-droite {
            display: none;
        }

    }
   
}
