$font-nunito :  'Nunito Sans', sans-serif;
$font-merienda :  'Merienda One', cursive;
$color1 : #333;
$color2 : #626262;
$black : #000;
$white :#f1f1f1;
$crimson : crimson;
$bg-btn : rgb(177,0,36); 
$border : #777 ;
