nav {
  position: fixed;
  height: 70px;
  width: 100%;
  background: linear-gradient(to bottom, #333, #626262);
  z-index: 10;
}
nav .logo-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 50px;
  z-index: 25;
  display: none;
}
nav .liste-nav {
  background: linear-gradient(to bottom, #333, #626262);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 20;
}
nav .liste-nav .item-nav {
  display: flex;
  align-items: center;
}
nav .liste-nav .item-nav a {
  font-size: 22px;
  color: #f1f1f1;
  margin: 0 20px;
  text-transform: uppercase;
}
nav .liste-nav .item-nav a::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 0%;
  height: 2px;
  background: #f1f1f1;
  transition: width 0.2s ease-in-out;
}
nav .liste-nav .item-nav a:hover::after {
  width: 100%;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.accueil {
  width: 100%;
  height: 100vh;
  min-height: 970px;
  background-image: url(ressources/accueil-pic-lum-down.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px dotted #777;
  padding-top: 1px;
}
.accueil .logo-kyoto {
  border-radius: 50%;
  width: 180px;
  display: block;
  margin: 179px auto 0;
}
.accueil h1 {
  text-align: center;
  font-size: 100px;
  text-shadow: 0 0 10px #000;
  color: #f1f1f1;
  margin-top: 10px;
  font-family: "Merienda One", cursive;
}
.accueil .sous-titre {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #f1f1f1;
  margin: 5px 0;
  text-shadow: 0 0 10px #000;
}
.accueil .btn-accueil {
  border-radius: 9999px;
  background: crimson;
  border: 1px solid #333;
  color: #f1f1f1;
  text-align: center;
  font-size: 22px;
  display: block;
  width: 200px;
  height: 70px;
  line-height: 70px;
  margin: 30px auto 0;
  transition: all 0.2s ease-in-out;
}
.accueil .btn-accueil:hover {
  background: rgb(177, 0, 36);
  color: #fff;
}

@media (max-width: 700px) {
  nav .logo-menu {
    display: block;
  }
  nav .liste-nav {
    padding-top: 70px;
    flex-direction: column;
    height: auto;
    position: relative;
    display: none;
  }
  nav .liste-nav .item-nav {
    height: 70px;
    justify-content: center;
  }
  nav .liste-nav.active {
    display: block;
  }
  .accueil {
    height: 650px;
    min-height: auto;
    background-position: right;
  }
  .accueil .logo-kyoto {
    margin: 120px auto 0;
  }
  .accueil h1 {
    font-size: 60px;
  }
  .accueil .sous-titre {
    font-size: 23px;
  }
  .accueil .btn-accueil {
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    margin: 15px auto 0;
  }
}
@media (max-width: 400px) {
  .section-asymetrique {
    grid-template: 150px repeat(6, auto) 100px/100%;
  }
  .section-asymetrique h2 {
    font-size: 30px;
  }
  .section-asymetrique .ligne-gauche, .section-asymetrique .ligne-droite {
    display: none;
  }
  .section-asymetrique .bloc-1 {
    grid-area: 2/2/3/3;
  }
  .section-asymetrique .img-grid-1 {
    grid-area: 3/2/4/3;
  }
  .section-asymetrique .bloc-right {
    grid-area: 4/2/5/3;
  }
  .section-asymetrique .img-grid-2 {
    grid-area: 5/2/6/3;
  }
  .section-asymetrique .bloc-3 {
    grid-area: 6/2/7/3;
  }
  .section-asymetrique .img-grid-3 {
    grid-area: 7/2/8/3;
  }
  .section-asymetrique .bloc {
    height: 100%;
    margin-bottom: 0px;
  }
  .section-asymetrique .bloc button {
    font-size: 20px;
    padding: 15px 30px;
    margin-bottom: 30px;
  }
  .section-asymetrique .img-grid {
    position: static;
    width: 600px;
    height: 750px;
  }
  .section-asymetrique .img-grid-1,
  .section-asymetrique .img-grid-3 {
    top: 0px;
    left: 0px;
  }
  .section-asymetrique .img-grid-2 {
    top: 0px;
    left: 0px;
  }
  .section-asymetrique .bloc-left {
    left: 0px;
  }
  .section-asymetrique .bloc-left .bloc-txt-left {
    width: 100%;
    height: 100%;
  }
  .section-asymetrique .bloc-left .bloc-txt-left h3 {
    text-align: center;
  }
  .section-asymetrique .bloc-left .bloc-txt-left p {
    font-size: 20px;
    line-height: 1.8;
    padding: 15px;
  }
  .section-asymetrique .bloc-right {
    right: 0px;
  }
  .section-asymetrique .bloc-right .bloc-txt-right {
    position: static;
    width: 100%;
    height: 100%;
  }
  .section-asymetrique .bloc-right .bloc-txt-right h3 {
    text-align: center;
  }
  .section-asymetrique .bloc-right .bloc-txt-right p {
    font-size: 20px;
    line-height: 1.8;
    padding: 15px;
  }
}
.section-asymetrique {
  display: grid;
  grid-template: 200px repeat(3, auto)/1fr 600px 1fr;
  background: #f1f1f1;
}
.section-asymetrique h2 {
  grid-area: 1/1/2/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 50px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.section-asymetrique .bloc-1,
.section-asymetrique .img-grid-1 {
  grid-area: 2/2/3/3;
}
.section-asymetrique .bloc-right,
.section-asymetrique .img-grid-2 {
  grid-area: 3/2/4/3;
}
.section-asymetrique .bloc-3,
.section-asymetrique .img-grid-3 {
  grid-area: 4/2/5/3;
}
.section-asymetrique .bloc {
  background: #333;
  color: #f1f1f1;
  position: relative;
  border-radius: 2px;
  height: 750px;
  margin-bottom: 250px;
}
.section-asymetrique .bloc button {
  border-radius: 9999px;
  outline: none;
  border: none;
  background: crimson;
  border: 1px solid #333;
  color: #f1f1f1;
  padding: 20px 35px;
  font-size: 20px;
  margin: 35px auto;
  cursor: pointer;
  display: block;
}
.section-asymetrique .img-grid {
  width: 500px;
  height: 700px;
  object-fit: cover;
  position: relative;
}
.section-asymetrique .img-grid-1,
.section-asymetrique .img-grid-3 {
  top: 130px;
  left: 20px;
}
.section-asymetrique .bloc-left {
  left: -300px;
}
.section-asymetrique .bloc-left .bloc-txt-left {
  width: 50%;
  height: 100%;
}
.section-asymetrique .bloc-left .bloc-txt-left h3 {
  white-space: nowrap;
  font-size: 35px;
  margin: 30px 15px;
}
.section-asymetrique .bloc-left .bloc-txt-left p {
  line-height: 40px;
  padding: 15px;
}
.section-asymetrique .bloc-right {
  right: -300px;
}
.section-asymetrique .bloc-right .bloc-txt-right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
}
.section-asymetrique .bloc-right .bloc-txt-right h3 {
  position: relative;
  font-size: 35px;
  margin: 30px 15px;
}
.section-asymetrique .bloc-right .bloc-txt-right p {
  line-height: 40px;
  padding: 15px;
}
.section-asymetrique .bloc-right .bloc-txt-right button {
  margin: 5px auto;
}
.section-asymetrique .img-grid-2 {
  top: 130px;
  left: 100px;
}
.section-asymetrique .ligne-gauche {
  grid-area: 1/2/-1/3;
  border-left: 1px solid #333;
}
.section-asymetrique .ligne-droite {
  grid-area: 1/3/-1/4;
  border-left: 1px solid #333;
}

.parallax {
  width: 100%;
  height: 300px;
  background: url(ressources/parallax-large-flou.jpg);
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.parallax p {
  font-size: 65px;
  color: #f1f1f1;
}
.parallax span {
  display: block;
  font-size: 25px;
  color: #f1f1f1;
}

.section-tarifs {
  padding-bottom: 150px;
  border-bottom: 1px dashed #333;
}
.section-tarifs h3 {
  text-align: center;
  font-size: 45px;
  margin: 120px 0 20px;
  padding: 0 30px;
}
.section-tarifs hr {
  width: 200px;
  margin: 20px auto 100px;
}
.section-tarifs .container-tarifs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section-tarifs .container-tarifs .cartes-tarifs {
  width: 350px;
  height: auto;
  border-radius: 5px;
  margin: 15px 15px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  position: relative;
}
.section-tarifs .container-tarifs .cartes-tarifs:hover {
  transform: translateY(-5px);
}
.section-tarifs .container-tarifs h4 {
  text-align: center;
  padding: 25px 20px;
  font-size: 35px;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
  background: #ffafbf;
}
.section-tarifs .container-tarifs span {
  display: block;
  text-align: center;
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
}
.section-tarifs .container-tarifs p {
  font-size: 18px;
  padding: 20px 10px;
  border-top: 1px solid rgb(194, 197, 194);
}
.section-tarifs .container-tarifs p:last-of-type {
  border-bottom: 1px solid rgb(194, 197, 194);
}
.section-tarifs .container-tarifs p:nth-child(odd) {
  background: rgba(195, 195, 195, 0.219);
}
.section-tarifs .container-tarifs a {
  display: block;
  text-decoration: none;
  border: 1px solid #333;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 9999px;
  color: #333;
  font-size: 18px;
  line-height: 50px;
  margin: 20px auto;
  transition: all 0.2s ease-in-out;
}
.section-tarifs .container-tarifs a:hover {
  background: #333;
  color: #f1f1f1;
}

.section-contact {
  padding-bottom: 100px;
}
.section-contact h2 {
  text-align: center;
  color: #333;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 50px;
  padding: 70px 0 0 0;
}
.section-contact .container-form {
  margin: 0 auto;
  width: 70%;
}
.section-contact .container-form .form-groupe {
  position: relative;
  margin-bottom: 45px;
}
.section-contact .container-form .form-groupe label {
  color: #aaa;
  font-size: 20px;
}
.section-contact .container-form .form-groupe input {
  display: block;
  width: 100%;
  padding: 10px 0px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 3px solid #aaa;
  color: #666;
  font-size: 20px;
}
.section-contact .container-form .form-groupe textarea {
  width: 100%;
  height: 200px;
  border: none;
  border: 3px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  resize: none;
  outline: none;
  font-size: 20px;
  background: #f1f1f1;
}
.section-contact .container-form .form-groupe .button-sub {
  display: block;
  width: auto;
  padding: 15px 60px;
  border: 3px solid rgb(144, 144, 144);
  border-radius: 9999px;
  background-image: linear-gradient(to right, transparent 50%, rgb(65, 65, 65) 50%, rgb(134, 134, 134));
  background-size: 200%;
  color: #333;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.section-contact .container-form .form-groupe .form-groupe .button-sub:hover {
  color: #fff;
  background-position: 100%;
  border: 3px solid #fff;
}
.section-contact .form-groupe:nth-child(4) {
  margin-bottom: 25px;
}

footer {
  border-top: 1px solid #333;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

/*# sourceMappingURL=style.css.map */
